# Rime dictionary
# encoding: utf-8

---
name: offhand.base
version: "2026.04.21"
sort: by_weight
use_preset_vocabulary: false
...

你好	ni hao	10000
我们	wo men	9800
输入法	shu ru fa	9600
鸿蒙	hong meng	9500
语音输入	yu yin shu ru	9400
会议纪要	hui yi ji yao	9200
项目负责人	xiang mu fu ze ren	9000
大模型	da mo xing	8900
